ioMeter20190129_2.json
[{"id":"8f7e16b7.15efb8","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"73e61dd4.ff07c4","type":"tab","label":"Sheet 1"},{"id":"9b686447.3cc698","type":"tab","label":"フロー 2","disabled":false,"info":""},{"id":"74fe318f.67a26","type":"websocket-listener","path":"/ws/iodat","wholemsg":"false"},{"id":"16c9f6d7.698c89","type":"http response","z":"73e61dd4.ff07c4","name":"","x":575,"y":72,"wires":[]},{"id":"6fdf78ce.a6b6e8","type":"http in","z":"73e61dd4.ff07c4","name":"","url":"/iotest","method":"get","upload":false,"swaggerDoc":"","x":233,"y":73,"wires":[["32846886.6b5ce8"]]},{"id":"cbb9956e.f2ce08","type":"websocket in","z":"73e61dd4.ff07c4","name":"","server":"74fe318f.67a26","client":"","x":231,"y":160,"wires":[["3a4dba00.cc8416"]]},{"id":"df28afab.1a29f","type":"debug","z":"73e61dd4.ff07c4","name":"","active":true,"console":"false","complete":"false","x":589,"y":160,"wires":[]},{"id":"e2148c1a.9b301","type":"websocket out","z":"73e61dd4.ff07c4","name":"","server":"74fe318f.67a26","client":"","x":653,"y":241,"wires":[]},{"id":"ee0a2746.6d7638","type":"inject","z":"73e61dd4.ff07c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":90,"y":260,"wires":[["bf614f66.c5e72"]]},{"id":"3a4dba00.cc8416","type":"function","z":"73e61dd4.ff07c4","name":"","func":"context.global.digdat = context.global.digdat || 0;\ncontext.global.anadat = context.global.anadat || 50;\ncontext.global.chg = context.global.chg || 0;\nm = (msg.payload).toString();\nn = m.split(':');\nif (n[0] == 'D') {\n    context.global.digdat = parseInt(n[1],10);\n    context.global.chg |= 1;\n}\nif (n[0] == 'A') {\n    context.global.anadat = parseInt(n[1],10);\n    context.global.chg |= 2;\n}\nif (n[0] == 'R') {\n    context.global.chg |= 4;\n}\nif (n[0] == 'T') {\n    context.global.chg |= 8;\n}\nmsg.payload = \"[\" + n[0] + \"][\" + n[1] + \"]\"\nreturn msg;\n","outputs":1,"noerr":0,"x":397,"y":160,"wires":[["df28afab.1a29f"]]},{"id":"f73992cf.ddb2f","type":"debug","z":"73e61dd4.ff07c4","name":"","active":false,"console":"false","complete":"false","x":633,"y":292,"wires":[]},{"id":"bf614f66.c5e72","type":"function","z":"73e61dd4.ff07c4","name":"chgdetect","func":"context.count = context.count+1 || 60;\nif ((context.global.chg != 0)) {\n    msg.payload = context.global.chg;\n} else {\n    if (context.count>=1) {\n        context.count=0;\n        context.global.chg |= 8;\n        msg.payload = 8;\n    } else {\n        msg.payload = 0;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":265,"wires":[["61352750.2d2198"]]},{"id":"61352750.2d2198","type":"switch","z":"73e61dd4.ff07c4","name":"","property":"payload","rules":[{"t":"neq","v":"0"},{"t":"eq","v":"8"}],"checkall":"true","outputs":2,"x":378,"y":265,"wires":[["e5d15be9.611928"],["dbd4c233.a568e"]]},{"id":"e5d15be9.611928","type":"function","z":"73e61dd4.ff07c4","name":"","func":"context.count = context.count+1 || 0;\nvar req = parseInt(msg.payload);\nvar m;\nif (req & 1) {\n    m = \"D:\"+context.global.digdat;\n    req &= ~1;\n} else if (req & 2){\n    m = \"A:\"+context.global.anadat;\n    req &= ~2;\n}else if(req & 4) {\n    m = \"R:\";\n    req &= ~4;\n} else if (req & 8) {\n    m = \"T:\"+context.global.envdat || \"T:\";\n    req &= ~8;\n} else {\n        m = \"\";\n        req = 0;\n}\ncontext.global.chg = req;\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":505,"y":241,"wires":[["e2148c1a.9b301","f73992cf.ddb2f"]]},{"id":"88b505f8.b3c788","type":"function","z":"73e61dd4.ff07c4","name":"StoreEnvDat","func":"context.global.envdat = msg.payload || \"\";\nreturn msg;","outputs":1,"noerr":0,"x":429,"y":352,"wires":[[]]},{"id":"93a1c0e4.f0e9c","type":"debug","z":"73e61dd4.ff07c4","name":"","active":false,"console":"false","complete":"false","x":449,"y":399,"wires":[]},{"id":"dbd4c233.a568e","type":"function","z":"73e61dd4.ff07c4","name":"DummyDat","func":"context.count = context.count+1 || 0;\nif (context.count >= 100) {\n    context.count -= 100;\n}\n//context.count = 50;\nvar p = ((((Math.random()-0.5)*50.0)+1013.0).toString()).substr(0,7);\nvar t = ((((Math.random()-0.5)*30.0)+20.0).toString()).substr(0,5);\nmsg.payload = (\"00\"+(context.count).toString()).substr(-3)+\":Press \"+p+\"hPa Temp \"+t+\"degree\";\nreturn msg;","outputs":1,"noerr":0,"x":258,"y":351,"wires":[["88b505f8.b3c788","93a1c0e4.f0e9c"]]},{"id":"95029d56.1769b","type":"http in","z":"73e61dd4.ff07c4","name":"","url":"home/pi/Meter.png","method":"get","upload":false,"swaggerDoc":"","x":263,"y":469,"wires":[["6c833333.ed4e3c"]]},{"id":"ce9ac697.331968","type":"http response","z":"73e61dd4.ff07c4","name":"","x":590,"y":460,"wires":[]},{"id":"6c833333.ed4e3c","type":"file in","z":"73e61dd4.ff07c4","name":"","filename":"C:\\Users\\誠夫\\.node-red/Meter.png","format":"","sendError":true,"x":440,"y":520,"wires":[["ce9ac697.331968"]]},{"id":"32846886.6b5ce8","type":"function","z":"73e61dd4.ff07c4","name":"","func":"context.global.digdat = context.global.digdat || 0;\ncontext.global.anadat = context.global.anadat || 50;\ncontext.global.envdat = context.global.envdat || \"\";\n\nvar m,n;\nn = ((context.global.envdat).toString()).split(':');\nm = \"\\n\";\nm = m + \"<HTML>\\n\";\nm = m + \"<BODY>\\n\";\nm = m + \"\t<canvas id='c1' width='200' height='200' style='position:absolute; z-index:0'></canvas>\\n\";\nm = m + \"\t<canvas id='c2' width='200' height='200' style='position:absolute; z-index:1'></canvas>\\n\";\nm = m + \"\t<canvas id='c3' width='200' height='200'></canvas><BR>\\n\";\nm = m + \"\t<table>\\n\";\nm = m + \"\t\t<tr>\\n\";\nm = m + \"\t\t\t<td id = 'hostname'>HOST:</td>\\n\";\nm = m + \"\t\t</tr>\\n\";\nm = m + \"\t\t<tr>\\n\";\nm = m + \"\t\t\t<td id='rcvmsg'>RECEIVE: <B>\"+context.global.envdat+\"</B></td>\\n\";\nm = m + \"\t\t</tr>\\n\";\nm = m + \" \t\t<tr>\\n\";\nm = m + \"\t\t\t<td>\\n\";\nm = m + \"\t\t\t\t<input type='button' value='READ' onClick='refTemp()'>\\n\";\nm = m + \"\t\t\t</td>\\n\";\nm = m + \"\t\t</tr>\\n\";\nm = m + \"\t</table>\\n\";\nm = m + \"\t<table>\\n\";\nm = m + \"\t\t<tr>\\n\";\nm = m + \"\t\t\t<td id='dig'>\\n\";\nm = m + \"\t\t\t<label>OFF</label>\\n\";\n\nif (context.global.digdat == 0) {\n\tm = m + \"\t\t\t<input id='radbtn0' type='radio' name='DIG' value='0' checked='checked'\\n\";\n\tm = m + \"\t\t\t\tonchange='changeDIG(this.value)'>\\n\";\n\tm = m + \"\t\t\t<input id='radbtn1'type='radio' name='DIG' value='1'\\n\";\n\tm = m + \"\t\t\t\tonchange='changeDIG(this.value)'>\\n\";\n} else {\n\tm = m + \"\t\t\t<input id='radbtn0' type='radio' name='DIG' value='0'\\n\";\n\tm = m + \"\t\t\t\tonchange='changeDIG(this.value)'>\\n\";\n\tm = m + \"\t\t\t<input id='radbtn1' type='radio' name='DIG' value='1'  checked='checked'\\n\";\n\tm = m + \"\t\t\t\tonchange='changeDIG(this.value)'>\\n\";\n}\n\nm = m + \"\t\t\t<label>ON</label>\\n\";\nm = m + \"\t\t\t</td>\\n\";\nm = m + \"\t\t</tr>\\n\";\nm = m + \" \t\t<tr>\\n\";\nm = m + \"\t\t\t<td> \\n\";\nm = m + \"\t\t\t<label>0</label>\\n\";\nm = m + \"\t\t\t<input id='slider' type='range' name='num' min='0' max='100' step='5'\\n\";\nm = m + \"\t\t\t value='\" + parseInt(context.global.anadat, 10) + \"'\\n\";\nm = m + \"\t\t\t onchange='changeValue(this.value)'>\\n\";\nm = m + \"\t\t\t<label>100</label>\\n\";\nm = m + \"\t\t\t</td>\\n\";\nm = m + \"\t\t\t<td id='sndval'>VAL: <B>\" + ('00'+context.global.anadat).substr(-3) + \"</B></td>\\n\";\nm = m + \"\t\t</tr>\\n\";\nm = m + \" \t\t<tr>\\n\";\nm = m + \"\t\t\t<td>\\n\";\nm = m + \"\t\t\t\t<input type='button' value='RELOAD' onClick='refScreen()'>\\n\";\nm = m + \"\t\t\t</td>\\n\";\nm = m + \"\t\t</tr>\\n\";\nm = m + \"\t</table>\\n\";\nm = m + \"</BODY>\\n\";\nm = m + \"\\n\";\nm = m + \"<script type = 'text/javascript'>\\n\";\nm = m + \"\tvar ws;\\n\";\nm = m + \"\tvar sendval;\\n\";\nm = m + \"\tvar slidval;\\n\";\nm = m + \"\tvar ledval;\\n\";\nm = m + \"\tvar rcvmsg;\\n\";\nm = m + \"\tvar hadr;\\n\";\nm = m + \"\tvar size_xy;\\n\";\nm = m +\"\tvar center_xy;\\n\";\nm = m +\"\tvar ang_offset,diff,stp;\\n\";\nm = m +\"\tvar c1,c2,ctx1,ctx2;\\n\";\nm = m + \"\\n\";\nm = m +\"\tonload = function() {\\n\";\nm = m +\"\t\tdraw();\\n\";\nm = m +\"\t};\\n\";\nm = m + \"\tfunction changeValue(value) {\\n\";\nm = m + \"\t\tvar m;\\n\";\nm = m + \"\t\tvar n;\\n\";\nm = m + \"\t\tm = ('00'+value).substr(-3);\\n\";\nm = m + \"\t\tn = m;\\n\";\nm = m + \"\t\tm = 'A:'+ m;\\n\";\nm = m + \"\t\tws.send(m);\\n\";\nm = m + \"\t\tcontext.global.anadat = parseInt(n,10);\\n\";\nm = m + \"\t}\\n\";\nm = m + \"\\n\";\nm = m + \"\tfunction changeDIG(value) {\\n\";\nm = m + \"\t\tvar m;\\n\";\nm = m + \"\t\tm = 'D:'+value;\\n\";\nm = m + \"\t\tws.send(m);\\n\";\nm = m + \"\t}\\n\";\nm = m + \"\\n\";\nm = m + \"\tfunction refTemp() {\\n\";\nm = m + \"\t\tvar m;\\n\";\nm = m + \"\t\tm = 'T:0';\\n\";\nm = m + \"\t\tws.send(m);\\n\";\nm = m + \"\t}\\n\";\nm = m + \"\\n\";\nm = m + \"\tfunction refScreen() {\\n\";\nm = m + \"\t\tvar m;\\n\";\nm = m + \"\t\tm = 'R:0';\\n\";\nm = m + \"\t\tws.send(m);\\n\";\nm = m + \"\t}\\n\";\nm = m + \"\\n\";\nm = m +\"\tfunction draw_arrow(dat) {\\n\";\nm = m +\"\t\tvar dir;\\n\";\nm = m +\"\t\tvar ssize,lsize;\\n\";\nm = m +\"\t\tvar x1,x2,x3;\\n\";\nm = m +\"\t\tvar y1,y2,y3;\\n\";\nm = m +\"\t\tdir = 3*dat*stp+ang_offset;\\n\";\nm = m +\"\t\tssize = size_xy*0.09375;\t// 15/160\\n\";\nm = m +\"\t\tlsize = size_xy*0.28125;\t// 45/160\\n\";\nm = m +\"\t\tx1 = ssize*(Math.cos(dir-diff))+center_xy+0.5;\\n\";\nm = m +\"\t\ty1 = ssize*(Math.sin(dir-diff))+center_xy+0.5;\\n\";\nm = m +\"\t\tx2 = ssize*(Math.cos(dir+diff))+center_xy+0.5;\\n\";\nm = m +\"\t\ty2 = ssize*(Math.sin(dir+diff))+center_xy+0.5;\\n\";\nm = m +\"\t\tx3 = lsize*(Math.cos(dir))+center_xy+0.5;\\n\";\nm = m +\"\t\ty3 = lsize*(Math.sin(dir))+center_xy+0.5;\\n\";\nm = m +\"\t\tctx2.clearRect(0,0,size_xy,size_xy);\\n\";\nm = m +\"\t\tctx2.fillStyle='rgb(255,0,0)';\\n\";\nm = m +\"\t\tctx2.strokeStyle='rgb(255,0,0)';\\n\";\nm = m +\"\t\tctx2.beginPath();\\n\";\nm = m +\"\t\tctx2.moveTo(x1+0, y1+0);\\n\";\nm = m +\"\t\tctx2.lineTo(x2+0, y2+0);\\n\";\nm = m +\"\t\tctx2.lineTo(x3+0, y3+0);\\n\";\nm = m +\"\t\tctx2.closePath();\\n\";\nm = m +\"\t\tctx2.stroke();\\n\";\nm = m +\"\t\tctx2.fill();\\n\";\nm = m +\"\t};\\n\";\nm = m + \"\tfunction draw() {\\n\";\nm = m + \"\t\tsize_xy = 200;\\n\";\nm = m + \"\t\tsize_xy = size_xy+0;\\n\";\nm = m +\"\t\tcenter_xy = size_xy/2;\\n\";\nm = m +\"\t\tvar dir;\\n\";\nm = m +\"\t\tc1 = document.getElementById('c1');\\n\";\nm = m +\"\t\tif ( ! c1 || ! c1.getContext ) { return false; }\\n\";\nm = m +\"\t\tctx1 = c1.getContext('2d');\\n\";\nm = m +\"\t\tc2 = document.getElementById('c2');\\n\";\nm = m +\"\t\tif ( ! c2 || ! c2.getContext ) { return false; }\\n\";\nm = m +\"\t\tctx2 = c2.getContext('2d');\\n\";\nm = m +\"  /* Imageオブジェクトを生成 */\\n\";\nm = m +\"\t\tvar img = new Image();\\n\";\nm = m +\"\t\timg.src = 'http://'+ location.host +'/home/pi/Meter.png';\\n\";\nm = m +\"\t\timg.onload = function() {\\n\";\nm = m +\"\t\t\tvar x1,x2,x3,x4;\\n\";\nm = m +\"\t\t\tvar y1,y2,y3,y4;\\n\";\nm = m +\"\t\t\tvar ssize, lsize;\\n\";\nm = m +\"\t\t\tctx1.drawImage(img, 0,0,170,170,0,0,size_xy,size_xy);\\n\";\nm = m +\"\t\t\tctx2.clearRect(0,0,size_xy,size_xy);\\n\";\nm = m +\"\t\t\tstp = (Math.PI/180);\\n\";\nm = m +\"\t\t\tang_offset = stp*120;\\n\";\nm = m +\"\t\t\tdiff= stp*10;\\n\";\nm = m +\"\t\t\tdir = 3*stp*0+ang_offset;\\n\";\nm = m +\"\t\t\tctx1.fillStyle='rgb(100,200,255)';\\n\";\nm = m +\"\t\t\tctx1.strokeStyle='rgb(100,200,255)';\\n\";\nm = m +\"\t\t\tssize = size_xy * 0.25;\t\t// 40/160\\n\";\nm = m +\"\t\t\tlsize = size_xy * 0.3125;\t// 50/160\\n\";\nm = m +\"\t\t\tfor (var i=0; i<11; i++) {\\n\";\nm = m +\"\t\t\t\tctx1.beginPath();\\n\";\nm = m +\"\t\t\t\tx1 = ssize*(Math.cos(ang_offset+i*30*stp-diff/5))+center_xy+0.5;\\n\";\nm = m +\"\t\t\t\ty1 = ssize*(Math.sin(ang_offset+i*30*stp-diff/5))+center_xy+0.5;\\n\";\nm = m +\"\t\t\t\tx2 = ssize*(Math.cos(ang_offset+i*30*stp+diff/5))+center_xy+0.5;\\n\";\nm = m +\"\t\t\t\ty2 = ssize*(Math.sin(ang_offset+i*30*stp+diff/5))+center_xy+0.5;\\n\";\nm = m +\"\t\t\t\tx3 = lsize*(Math.cos(ang_offset+i*30*stp+diff/5))+center_xy+0.5;\\n\";\nm = m +\"\t\t\t\ty3 = lsize*(Math.sin(ang_offset+i*30*stp+diff/5))+center_xy+0.5;\\n\";\nm = m +\"\t\t\t\tx4 = lsize*(Math.cos(ang_offset+i*30*stp-diff/5))+center_xy+0.5;\\n\";\nm = m +\"\t\t\t\ty4 = lsize*(Math.sin(ang_offset+i*30*stp-diff/5))+center_xy+0.5;\\n\";\nm = m +\"\t\t\t\tctx1.moveTo(x1,y1);\\n\";\nm = m +\"\t\t\t\tctx1.lineTo(x2,y2);\\n\";\nm = m +\"\t\t\t\tctx1.lineTo(x3,y3);\\n\";\nm = m +\"\t\t\t\tctx1.lineTo(x4,y4);\\n\";\nm = m +\"\t\t\t\tctx1.closePath();\\n\";\nm = m +\"\t\t\t\tctx1.fill();\\n\";\nm = m +\"\t\t\t}\\n\";\nm = m +\"\t\t\tdraw_arrow(\"+parseInt(n[0])+\");\\n\";\nm = m +\"\t\t}\\n\";\nm = m +\"\t}\\n\";\nm = m + \"\t(function() {\\n\";\nm = m + \"\t\thadr = location.host;\\n\";\nm = m + \"\t\trcvmsg = document.getElementById('rcvmsg');\\n\";\nm = m + \"\t\tsendval = document.getElementById('sndval');\\n\";\nm = m + \"\t\tslidval = document.getElementById('slider');\\n\";\nm = m + \"\t\tledval0 = document.getElementById('radbtn0');\\n\";\nm = m + \"\t\tledval1 = document.getElementById('radbtn1');\\n\";\nm = m + \"\t\tws = new WebSocket('ws://'+hadr+'/ws/iodat');\\n\";\nm = m + \"\t\thostname.innerHTML = 'HOST: '+hadr;\\n\";\nm = m + \"\\n\";\nm = m + \"\t\tfunction logStr(eventStr, msg) {\\n\";\nm = m + \"\t\t\treturn '<td>' + eventStr + ':' + msg + '</td>';\\n\";\nm = m + \"\t\t}\\n\";\nm = m + \"\\n\";\nm = m + \"\t\tws.onmessage = function(e) {\\n\";\nm = m + \"\t\t\tvar m = ((e.data).toString()).split(':');\\n\";\nm = m + \"\t\t\tswitch(m[0]) {\\n\";\nm = m + \"\t\t\t\tcase\t'A':\\n\";\nm = m + \"\t\t\t\t\tslidval.value = m[1];\\n\";\nm = m + \"\t\t\t\t\tsendval.innerHTML = 'VAL: <B>' + ('00' + m[1]).substr(-3) + '</B>';\\n\";\nm = m + \"\t\t\t\t\tbreak;\\n\";\nm = m + \"\t\t\t\tcase\t'D':\\n\";\nm = m + \"\t\t\t\t\tif (m[1] == 0) {\\n\";\nm = m + \"\t\t\t\t\t\tledval0.checked = 'checked';\\n\";\nm = m + \"\t\t\t\t\t} else {\\n\";\nm = m + \"\t\t\t\t\t\tledval1.checked = 'checked';\\n\";\nm = m + \"\t\t\t\t\t}\\n\";\nm = m + \"\t\t\t\t\tbreak;\\n\";\nm = m + \"\t\t\t\tcase\t'T':\\n\";\nm = m + \"\t\t\t\t\tdraw_arrow(m[1])\\n\";\nm = m + \"\t\t\t\t\trcvmsg.innerHTML = 'RECEIVE: <B>'+m[1]+':'+m[2]+'</B>';\\n\";\nm = m + \"\t\t\t\t\tbreak;\\n\";\nm = m + \"\t\t\t\tcase\t'R':\\n\";\nm = m + \"\t\t\t\t\tlocation.reload(true);\\n\";\nm = m + \"\t\t\t\t\tbreak;\\n\";\nm = m + \"\t\t\t\tdefault:\\n\";\nm = m + \"\t\t\t\t\tbreak;\\n\";\nm = m + \"\t\t\t}\\n\";\nm = m + \"\t\t};\\n\";\nm = m + \"\\n\";\nm = m + \"\t\tws.onclose = function (e) {\\n\";\nm = m + \"\t\t\toutput.innerHTML = logStr('disconnect', e.code + ' - ' + e.type);\\n\";\nm = m + \"\t\t};\\n\";\nm = m + \"\\n\";\nm = m + \"\t}() );\\n\";\nm = m + \"</script>\\n\";\nm = m + \"\\n\";\n\nmsg.payload = m;\nreturn msg;","outputs":1,"noerr":0,"x":402,"y":73,"wires":[["16c9f6d7.698c89"]]}]